.kol 
{
          display:block;
          width:180px;
          height:45px;
          margin-left: 5px;
          border-radius:inherit;/* object-position:center; */
          object-fit:cover;
          image-rendering:auto;

}
html
{
  scroll-behavior: smooth;
}